@charset "utf-8";
@import "page_settings.css";
@import "sample5-code.css";
@import "sample5-table.css";
@import "sample5-fukidashi.css";
@import "okuduke.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  counter-reset: chapter-counter 1;
}

/* 見出し類 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  text-spacing: no-autospace;
}

/* 章タイトル */
h1 {
  break-before: recto;
  font-size: 44Q;
  line-height: 50Q;
  margin-block-start: 57mm;
  text-align: center;
  counter-reset: section-counter 0;
  string-set: chapter-title content(), chapter-number content(before);
}
/* 著者名 */
.author {
  text-align: center;
  font-size: 20Q;
  /* text-indent: 0; */
  /* 縦書きにして自由位置に移動 */
  /* writing-mode: vertical-rl; */
  /* position: static; */
  /* inset-block-start: 70mm; */
  /* inset-inline-start: 120mm; */
}

.author p {
  text-align: inherit;
}

/* h1::before {
  content: "chapter" counter(chapter-counter);
  font-size: 30Q;
  position: absolute;
  text-align: center;
  display: block;
  inline-size: 40mm;
  block-size: 2lh;
  inset-inline-start: 50mm;
  inset-block-start: 40mm;
} */

.chapter-lead {
  font-weight: 400;
  margin-block-start: 24mm;
  margin-inline: auto;
  text-align: justify;
  inline-size: 30em;
}

/* 節 */
h2 {
  break-before: page;
  font-size: 28Q;
  line-height: 42Q;
  /* inline-size: 10em; */
  block-size: 5rlh;
  /* margin-block: 4mm 11mm; */
  /* margin-inline-start: 20mm; */
  /* margin-inline-start: 15mm; */
  margin-block: 0;
  position: relative;
  /* string-set: section-title content(), section-number content(before); */
}
h2::before {
  content: "";
  /* background: url("img/_c_chojuori0021_s256_chojuori0021_3.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  block-size: 24mm;
  inline-size: 40mm;
  position: absolute;
  /* inset-block-start: -2mm; */
  /* inset-inline-start: -17mm;  */
}

/* 節番号 */
/* h2::before {
  content: counter(section-counter, decimal-leading-zero);
  color: #585656;
  counter-increment: section-counter;
  font-size: 48Q;
  line-height: 14mm;
  text-align: center; */
/* padding-block-start: 8mm; */
/* padding-inline: 5% 80%; */

/* 背景画像 */
/* background-color: #88ddff;
  background-image: url("img/R2_cssbk_smp_h2bg.png");
  background-size: var(--page-body-width);
  background-repeat: no-repeat;
  inline-size: 16mm;
  block-size: 16mm;
  position: absolute;
  inset-inline-start: -20mm;
  inset-block-start: 0mm;
  z-index: -1;
} */

h3 {
  font-size: 20Q;
  line-height: 24Q;
  margin-block: 1rlh 0;
  margin-break: auto;
  block-size: 2rlh;
  position: relative;
  /* padding-inline-start: 7mm; */

  /* background-color: #88ddff; */
  /* 背景画像 */
  /* background-image: url("img/R3_cssbk_smp_h3bg.png");
  background-size: cover; */
}

h3::before {
  content: "";
  /* background: url(img/_c_choju24_0001_s1024_choju24_0001_7.png); */
  /* background: url(img/ai_carrot.png); */
  background-size: contain;
  background-repeat: no-repeat;
  block-size: 2rlh;
  inline-size: 12mm;
  position: absolute;
  inset-block-start: 3mm;
  inset-inline-start: -6mm;
}

h4 {
  font-size: 17Q;
}
h4::before {
  /* content: "◆"; */
}

h6 {
  font-size: 11Q;
  margin-block-end: 2mm;
}

/* hr（改ページ）の直後のh3 */
hr + h3,
hr + section > h3:first-child,
section:has(hr:last-child) + section > h3:first-child {
  margin-break: discard;
}

p {
  text-indent: 1em;
  text-align: justify;
  margin-block: 0;
  /* font-family: "Open Sans", "こぶりなゴシック StdN W1", "UD デジタル 教科書体 N-B", "Noto Sans JP"; */
}

/* 字下げなしの本文 */
.no-indent p {
  text-indent: 0em;
}

/* 箇条書き（リスト） */
ul,
ol {
  margin-block: 0.5lh;
  margin-inline: 0 2em;
  font-weight: 400;
  padding-inline-start: 2em;
}
/* 入れ子のときは上下アキなし */
li :is(ul, ol) {
  margin-block: 0;
}

/* 強意 */
em {
  font-style: normal;
  text-decoration: underline;
  text-decoration-thickness: 0.4em;
  text-decoration-color: #fd0;
  text-underline-offset: -0.1em;
  text-decoration-skip-ink: none;
}
/* 強調（重要） */
strong {
  font-weight: 700;
  color: #000;
}

/* キーボードフォント */
kbd {
  font-family: keyfont;
}

/* 改ページ */
hr {
  break-after: page;
  visibility: hidden;
}
hr.blankline {
  height: var(--base-line-height);
  visibility: hidden;
}

a:link {
  color: #800000;
  text-decoration: none;
}

a:visited {
  color: #1E90FF;
  text-decoration: none;}

  a:hover {
  color: #999;
  text-decoration: none;
}

a:active {
  color: #fff;
  text-decoration: none;
}

/* 図版 */
:is(.figure, figure) {
  /* display: flex; */
  /* flex-direction: row; */
  /*横並びにする*/
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  /*縦に伸ばさない*/
  /* flex-wrap: wrap; */
  /* position: relative; */

  margin-block: 4mm;
  margin-inline: 0;
  line-height: 1.25em;
}
:is(.figure, figure) :is(img, svg) {
  border: solid 0.5mm #ccc;
}

:is(.figure, figure).float-right {
  float: inline-end;
  inline-size: 17em;
  margin-block: 2mm;
  margin-inline: 2em 0;
}
:is(.figure, figure) p {
  text-indent: 0;
}
/* 図中文字 */
:is(.figure, figure) ul {
  position: absolute;
  font-size: 11Q;
  max-inline-size: 14em;
  inline-size: fit-content;
  right: 0;
  inset-inline-end: none;
  list-style: none;
  margin: 0;
}
:is(.figure, figure) li {
  font-size: 11Q;
  line-height: 16Q;
  border: solid 0.25mm #f00;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: 2mm;
  padding: 0 0.5mm;
}

img {
  max-inline-size: 100%;
  border: solid 0.5mm #000;
}

img[src$=".svg"] {
  border: none;
}

/* 図版右寄せ */
.figure-right {
  float-reference: inline;
  float: inline-end;
  margin-left: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

figcaption {
  text-align:center;
  padding: 0.75lh;
  font-size: 0.86rem;
  font-family: var(--main-text-font);
  line-height: 0.5lh;
  font-feature-settings: "palt";
  margin-block-start: 0.5em;
  
}


/* 脚注 */
.notetext {
  float: footnote;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-feature-settings: normal;
  font-size: 12Q;
  line-height: 18Q;
  text-indent: 0;
}

::footnote-marker {
  content: "*" counter(footnote) " ";
}

::footnote-call {
  content: "*" counter(footnote);
  font-size: 0.8em;
  position: relative;
  inset-block-start: -0.5em;
}

/* 以降は第3章の説明で使用するスタイル */

/* インライン画像の配置 */
p > img {
  vertical-align: text-bottom;
}

/* 引用 */
blockquote p {
  text-indent: 0;
  font-style: italic;
}
blockquote {
  border-inline-start: solid 2mm #ddd;
  margin-block: 4mm;
  margin-inline: 0;
  padding: 0;
  padding-inline: 2em;
}

/* コラム枠 */
.column {
  border: solid 0.2mm #8df;
  border-radius: 10px;
  padding: 4mm;
  padding-inline-end: 6mm;
  padding-inline-start: 6mm;
  margin-block-start: 6mm;
  margin-inline: auto;
  width: 114mm;
  background: #eef;
}
.column h5 {
  margin-top: 0;
  font-size: 14Q;
  color: #3da8c9;
}


/*編集コメント（サイドバー表示）*/
.hen-comment {
  position: absolute;
  display: block;
  text-indent: 0;
  right: -8em;
  font-size: 8Q;
  line-height: 13Q;
  background: #ff0;
  color: #f00;
  width: 8em;
  border: solid 0.25mm #f80;
  font-family: notosans-r;
}
/*編集コメント（長文用）*/
.hen,
.hen p {
  font-size: 10Q;
  line-height: 3mm;
  background: #ff0;
  color: #f00;
  text-indent: 0;
}
