@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&family=Zen+Maru+Gothic:wght@700&display=swap');

@font-face {
  font-family: udevgothic-r;
  src: url("fonts/UDEVGothic-Regular.ttf");
}

@font-face {
  font-family: keyfont;
  src: url("fonts/keyboard-JP-Regular.otf");
}

@font-face {
  font-family: IBM Plex Mono;
  src: url("fonts/IBMPlexMono-Regular.ttf");
}

:root {
  /* 基本体裁 */
  --base-font-size: 14Q;
  --base-line-height: 24.5Q;
  --page-width: 210mm;
  --page-height: 297mm;
  --letters-per-line: 44.5;
  --lines-per-page: 43;
  --page-margin-top: 16mm; /*天地マージンは天のみ指定できる。地は自動計算*/
  --page-margin-xshift: 0mm; /*左右マージンはデフォルト左右均等。xshift値でずらす*/
  --column-font-size: 14Q; /*コラムのフォントサイズ*/
  /* フォント指定 */
  /* --main-text-font: 'Shippori Mincho'; メインフォント */
  --main-text-font: "Noto Sans JP";
  --header-font: "Zen Maru Gothic";
  --code-font: "IBM Plex Mono"; /*コードフォント*/
  

  /* ページマージン自動計算 */
  --page-body-width: calc(var(--base-font-size) * var(--letters-per-line));
  --page-body-height: calc(var(--base-line-height) * var(--lines-per-page));
  --page-inline-margin: calc((var(--page-width) - var(--page-body-width)) / 2);
  --page-block-margin-start: var(--page-margin-top);
  --page-block-margin-end: calc(var(--page-height) - var(--page-body-height) - var(--page-block-margin-start));
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);

  font-family: var(--main-text-font);
  font-weight: 400;
  /* その他の指定 */
  text-spacing: auto;
  widows: 1;
  orphans: 1;
}

@page {
  size: var(--page-width) var(--page-height);
  /* bleed: 3mm;
  marks: crop cross; */
  margin-block-start: var(--page-block-margin-start);
  margin-block-end: var(--page-block-margin-end);
  margin-inline: var(--page-inline-margin);
  font-size: 10Q;
}
@page: left {
  /* background: url("img/R4_cssbk_smp_pageallbg_l.png"); */
  /* background-size: calc(var(--page-width) + 6mm); */
  /* background-repeat: no-repeat; */
  /* background-position: -3mm; */
  font-size: 11Q;
  font-family: var(--header-font);
  margin-inline-start: calc(var(--page-inline-margin) + var(--page-margin-xshift));
  margin-inline-end: calc(var(--page-inline-margin) - var(--page-margin-xshift));
  /* ノンブル */
  @bottom-left {
    content: counter(page);
    text-align: start;
  }
}
@page: right {
  /* background-color: #fffaf0; */
  /* background: url("img/R4_cssbk_smp_pageallbg_r.png");
  background-size: calc(var(--page-width) + 6mm);
  background-repeat: no-repeat;
  background-position: -3mm; */
  font-size: 11Q;
  font-family: var(--header-font);
  margin-inline-start: calc(var(--page-inline-margin) - var(--page-margin-xshift));
  margin-inline-end: calc(var(--page-inline-margin) + var(--page-margin-xshift));
  /* ノンブル */
  @bottom-right {
    content: counter(page);
    text-align: end;
  }
  /* 柱 */
  @bottom-center {
    content: string(chapter-number, first) "　" string(chapter-title, first);
  }
}

/* 扉ページの設定 */
/* @page: nth(1) { */
  /* margin: 0; */
  /* background-color: #ddd; */
  /* background: url("img/R1_cssbk_smp_tobirabg.png");
  background-size: calc(var(--page-width) + 6mm);
  background-repeat: no-repeat;
  background-position: -3mm; */

  @bottom-center {
    content: none;
  }

