@charset "utf-8";

/* 表 */
table {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  border-collapse: collapse;
  font-size: 12Q;
  line-height: 1.25em;
}

/* 表のフロート */
.float-table {
  float-reference: inline;
  float: inline-end;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  border-collapse: collapse;
  font-size: 12Q;
  line-height: 1.25em;
  line-height: 1.25em;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


td,
th {
  border: solid 0.1mm #000;
  padding: 1mm;
}

th {
  background: #bbb;
  min-inline-size: 7em;
}

tr:nth-child(even) {
  background: #eee;
}

.long-table {
  font-size: 11Q;
}
.long-table th {
  min-inline-size: auto;
}
.long-table td {
  text-align: end;
  vertical-align: bottom;
}

/* 表のキャプション */
caption {
  caption-side: bottom;
  padding: 0.5lh;
  font-size: 0.86rem;
}