@charset "utf-8";

/* è¡¨ */
table {
  border-collapse: collapse;
  font-size: var(--base-font-size);
  line-height: 1.25em;
}

td,
th {
  border: solid 0.1mm #000;
  padding: 1mm;
}

th {
  background: #bbb;
  min-inline-size: 7em;
}

tr:nth-child(even) {
  background: #eee;
}

.long-table {
  font-size: 11Q;
}
.long-table th {
  min-inline-size: auto;
}
.long-table td {
  text-align: end;
  vertical-align: bottom;
}
