@charset "utf-8";

/* コード */
code:not(pre code) {
  font-family: var(--code-font);
  background: #DCDCDC;
}

pre {
  font-family: var(--code-font);
  white-space: pre-wrap;
  line-break: anywhere;
  text-spacing: none;
  /* background: #DCDCDC */
  font-size: 14Q;
  line-height: 24.5Q;
  border: solid 0.2mm #585656;
  /* padding-block: 0.5mm; */
  padding-inline: 1.5mm;
  margin-block: 6mm;
  margin-inline: 0;
  background: repeating-linear-gradient(#eee 0, #eee 24.5Q, #fff 24.5Q, #fff 49Q);
  /* background-image: url("img/vs_pre_bg.png"); */
  /* background-size: var(--page-body-width) 9mm; */
  /* background-repeat: repeat-y; */
  /* background-position-y: 0.5mm; */
  /* border-radius: 1mm; */
}
.codenum-elem {
  width: 2em;
  display: inline-block;
  color: #888;
}

h6 + pre {
  margin-block-start: 0;
  border-start-start-radius: 0;
}

h6:has(+ pre) {
  background: #585656;
  inline-size: fit-content;
  color: #fff;
  padding-inline: 2mm;
  border-radius: 1mm 1mm 0 0;
  margin-block-end: 0;
}
.token.comment {
  color: #888;
}

/* コード内引き出し線 */
.codered.token.comment {
  /* background: #fff; */
  font-size: 10Q;
  line-height: 12Q;
  position: relative;
  /* border: solid 0.15mm #f88; */
  color: #f00;
  font-weight: bold;
  padding-block: 0;
  padding-inline: 0;
}
.codered::before {
  content: "";
  display: block;
  position: absolute;
  inline-size: 3em;
  inset-block-start: 1.2mm;
  inset-inline-start: -3em;
  border-bottom: dashed 0.25mm #f88;
}
